@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .headerAnchorTag { 
    @apply text-red-600
    }
} */
@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
.carousel-root {
  width: 800px !important;
}
.carousel-slider {
  overflow: visible !important;
}
.thumb {
  margin-right: 0px !important;
  padding: 0px !important;
}
.thumbs {
  display: flex;
  gap: 17px;
}
.thumbs > li {
  width: 100px;
  height: 69px;
}
.thumbs > li > img {
  height: 100%;
  width: 100%;
}
.slide > div > img {
  height: 556px;
}

.carousel-status {
  top: -35px !important;
  right: 50% !important;
  color: #0c0c0c;
  line-height: 30px;
}
.thumbs-wrapper {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
